/*=============================
=            Theme            =
=============================*/

* {
	outline: none !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: auto;
}

body {
	font-family: 'Fira Mono', monospace;
}

header,
section {
	margin-bottom: 64px;
}

header {
	padding-top: 16px;
}

section,
footer {
	// overflow: auto;
	overflow: hidden;
	clear: both;
	float: none;
}

.block-left {
	clear: left;
	display: inline-block;
	float: left;
	max-width: calc(60% - 1rem);
}

.block-right {
	clear: right;
	display: inline-block;
	float: right;
	max-width: calc(40% - 1rem);
}

@media (max-width: 768px) {
	.block-left,
	.block-right {
		display: block;
		float: none;
		max-width: 100%;
	}
}

section > *:last-child,
.block-left > *:last-child,
.block-right > *:last-child {
	margin-bottom: 0;
}

.no-type {
	list-style-type: none;
}

code {
	background: #eee;
}


/*===========================
=            Tag            =
===========================*/

a:active,
a:focus,
a:hover,
a:visited {
	text-decoration: none;
}

h1 {
	margin-top: 0;
}


/*==================================
=            Navigation            =
==================================*/

nav {
	clear: both;
}

nav ul {
	padding: 0;
	margin: 0;
}

nav ul li {
	display: inline-block;
	width: 32%;
}

@media (max-width: 768px) {
	nav ul li {
		width: 100%;
	}
}

nav ul li a {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	width: 100%;
	text-align: center;
}

nav ul li a:active,
nav ul li a:focus,
nav ul li a:hover,
nav ul li a:visited {
	background: #eee;
}


/*==============================
=            Helper            =
==============================*/

.clearfix {
	clear: both;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}
